<mat-card class="mainCard">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Dispositius</mat-card-title>
    <mat-card-actions align="end">
      <a mat-raised-button color="primary" [routerLink]="['/add-device']"><mat-icon>add</mat-icon> Afegir dispositiu</a>
        </mat-card-actions>
  </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content>
    <p>Ara mateix no teniu cap dispositiu, afegiex-ne una per començar!</p>
  </mat-card-content>

</mat-card>

<mat-grid-list [cols]="breakpoint" rowHeight="315px" gutterSize="15px" (window:resize)="onResize($event)">
  <mat-grid-tile [routerLink]="['/device']">
    <mat-card class="childCard">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>dispositiu exemple</mat-card-title>
        <!-- <mat-card-actions align="end">
          <button mat-button>Veure'n més</button>
        </mat-card-actions> -->
      </mat-card-header>
        <mat-divider></mat-divider>
        
      <mat-card-content class="img" style="background: url('../../../assets/img/place/home.jpg') no-repeat;">
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
    
</mat-grid-list>


<mat-card class="mainCard">
  <a [routerLink]="['/add-device']" mat-raised-button color="primary" class="buto"><mat-icon>add</mat-icon> Afegir dispositiu</a>
</mat-card>

