<mat-card class="mainCard">
  <mat-card-header>
    <div mat-card-avatar *ngIf="!mobileQueryTitle.matches"></div>
    <mat-card-title>Ubicacions</mat-card-title>
    <mat-card-actions align="end">
      <a mat-raised-button color="primary" [routerLink]="['/add-place']"><mat-icon>add</mat-icon> Afegir Ubicació</a>
        </mat-card-actions>
  </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content *ngIf="homes.length == 0 || loading">
    <p *ngIf="loading">Carregant ubicacions</p>
    <p *ngIf="homes.length == 0 && !loading">Ara mateix no teniu ubicacions, afegiex-ne una per començar!</p>
  </mat-card-content>

</mat-card>

<mat-spinner class="centerM" *ngIf="loading"></mat-spinner>
<mat-grid-list [cols]="breakpoint"  [rowHeight]="mobileQueryImg.matches ? '315px' : '400px'" gutterSize="15px" (window:resize)="onResize($event)" *ngFor="let home of homes">
  <mat-grid-tile [routerLink]="['/place']">
    <mat-card class="childCard">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{home.name}}</mat-card-title>
        <!-- <mat-card-actions align="end">
          <button mat-button>Veure'n més</button>
        </mat-card-actions> -->
      </mat-card-header>
        <mat-divider></mat-divider>
        
      <mat-card-content class="img"  style="background: url('{{img[home.type]}}') no-repeat;background-size: cover;">
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
    
</mat-grid-list>


<mat-card class="mainCard">
  <a [routerLink]="['/add-place']" mat-raised-button color="primary" class="buto"><mat-icon>add</mat-icon> Afegir Ubicació</a>
</mat-card>

