 

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Preus mitjana electricitat</mat-card-title>
    <!-- <mat-card-actions class="center">
      <button mat-button>Veure'n més</button>
    </mat-card-actions> -->
    <!-- <mat-card-subtitle *ngIf="price">{{price.date | date:'dd-MM-yyyy'}}</mat-card-subtitle> -->
  </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content class="centerA">
    
    <div>
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
    </div> 

  </mat-card-content>
</mat-card>