.card {
  max-width: 90%;
  margin:15px auto;
}

.graph {
  margin:0 auto;
  width:60%;
}

.buto {
  // max-width: 90%;
  // margin:15px auto;
  // height: 70px;
  width: 40px;
}

mat-card-header {
  margin-bottom: 16px;

}

button{
  width: 40px;
}

a[mat-icon-button]{
  vertical-align: middle;
}


 
// mat-card {
//   width: 33vw;
//   margin: 5% auto;
//   border-radius: 8px;
// }

// @media only screen and (max-width: 1000px) {
//   mat-card {
//     width: 45vw;
//   }
// }

// @media only screen and (max-width: 700px) {
//   mat-card {
//     width: 65vw;
//   }
// }

mat-form-field, mat-checkbox, mat-slide-toggle {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.divider {
  margin: 20px auto;
}

.divider2 {
  width:80%;
  margin: 20px auto;
}

.submit-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}
