<mat-card class="card">
  <mat-card-header>
    <!-- <div mat-card-avatar><a mat-button><mat-icon>keyboard_arrow_left</mat-icon></a></div> -->
    <mat-card-title><a [routerLink]="['/device']" mat-icon-button class="icon-button-large"><mat-icon>keyboard_arrow_left</mat-icon></a>&nbsp;Afegir dispositiu</mat-card-title>
    
  </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <form *ngIf="!loading"  [formGroup]="device" (submit)="onSubmit()">
      <mat-form-field>
      <mat-label>Nom</mat-label>
      <input
          matInput
          formControlName="name">
          <mat-error *ngIf="device.controls.name.errors?.['required']">Nom obligatori</mat-error>
        <mat-icon matSuffix>device</mat-icon>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Tipus</mat-label>
      <mat-select formControlName="type">
          <mat-option>None</mat-option>
          <mat-option value="option1"><mat-icon>house</mat-icon>Option 1</mat-option>      
          <mat-option value="option2"><mat-icon>bed</mat-icon>Option 2</mat-option>      
          <mat-option value="option2"><mat-icon>chair</mat-icon>Option 2</mat-option>      
          <mat-option value="option2"><mat-icon>kitchen</mat-icon>Option 2</mat-option>      
          <mat-option value="option2"><mat-icon>roofing</mat-icon>Option 2</mat-option>      
          <mat-option value="option2"><mat-icon>grass</mat-icon>Option 2</mat-option>      
          <mat-option value="option2"><mat-icon>warehouse</mat-icon>Option 2</mat-option>      
        </mat-select>
        <mat-error *ngIf="device.controls.type.errors?.['required']">Afageix el tipus</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="submit-button"
        [disabled]="!device.valid || loading">
        Afegir
      </button>


    </form>
  </mat-card-content>

</mat-card>