<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Tool Shot</h1>
        <span class="spacer"></span>
      
        <a mat-button [routerLink]="['/']" ><mat-icon>home</mat-icon> Inici </a>
        
        <a mat-raised-button color="accent" *ngIf="!userIsAuthenticated" [routerLink]="['/signup']" [routerLinkActive]="['active']" > Entra </a>
        
        <button mat-raised-button color="warn" *ngIf="userIsAuthenticated" (click)="onLogout()">Surt</button>

    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" ><mat-icon>home</mat-icon> Inici</a>
                <a mat-list-item [routerLink]="['/place']" [routerLinkActive]="['active']" *ngIf="userIsAuthenticated" ><mat-icon>place</mat-icon> Ubicacions</a>
                <a mat-list-item [routerLink]="['/device']" [routerLinkActive]="['active']" *ngIf="userIsAuthenticated" ><span class="material-symbols-outlined">memory_alt</span> Dispositius</a>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Header
                    </mat-expansion-panel-header>
                
                <a mat-list-item routerLink>Item 1</a>
                <a mat-list-item routerLink>Item 2</a>
                <a mat-list-item routerLink>Item 3</a>
                  </mat-expansion-panel>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  