<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Tool Shot</h1>
        <span class="spacer"></span>
      
        <a mat-button [routerLink]="['/']" ><mat-icon>home</mat-icon> Inici </a>
        
        <a mat-raised-button color="accent" *ngIf="!userIsAuthenticated" [routerLink]="['/signup']" [routerLinkActive]="['active']" > Entra </a>
        
        <button mat-raised-button color="warn" *ngIf="userIsAuthenticated" (click)="onLogout()">Surt</button>

    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']"  (click)="mobileQuery.matches && snav.toggle()"><mat-icon>home</mat-icon> Inici</a>
                <a mat-list-item [routerLink]="['/place']" [routerLinkActive]="['active']" *ngIf="userIsAuthenticated"  (click)="mobileQuery.matches && snav.toggle()"><mat-icon>place</mat-icon> Ubicacions</a>
                <a mat-list-item [routerLink]="['/device']" [routerLinkActive]="['active']" *ngIf="userIsAuthenticated"  (click)="mobileQuery.matches && snav.toggle()"><span class="material-symbols-outlined">memory_alt</span> Dispositius</a>

                <mat-expansion-panel *ngIf="userIsAuthenticated">
                    <mat-expansion-panel-header>
                        <span><mat-icon>view_list</mat-icon>Registres dels dispositius</span>
                    </mat-expansion-panel-header>
                
                    <a mat-list-item [routerLink]="['/log/all']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>list_alt</mat-icon>Tots els registres</a>
                    <a mat-list-item [routerLink]="['/log/device']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>format_list_bulleted</mat-icon>Registres dels dispositius</a>
                    <a mat-list-item [routerLink]="['/log/provider']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>storage</mat-icon>Registres dels proveïdors</a>
                    <!-- <a mat-list-item routerLink><mat-icon>notes</mat-icon>Registres dels proveïdors</a>
                    <a mat-list-item routerLink><mat-icon>clear_all</mat-icon>Registres dels proveïdors</a> -->
                  </mat-expansion-panel>


                  <mat-expansion-panel *ngIf="userIsAuthenticated">
                    <mat-expansion-panel-header>
                        <span><mat-icon>analytics</mat-icon>Gràfiques</span>
                    </mat-expansion-panel-header>
                
                    <a mat-list-item [routerLink]="['/graph/all']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>insert_chart_outlined</mat-icon>Registres diaris</a>
                    <!-- <a mat-list-item [routerLink]="['/log/device']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>bar_chart</mat-icon>Registres dels dispositius</a> -->
                    <!-- <a mat-list-item [routerLink]="['/log/provider']" [routerLinkActive]="['active']" (click)="mobileQuery.matches && snav.toggle()"><mat-icon>insert_chart</mat-icon>Registres dels proveïdors</a>
                    <a mat-list-item routerLink><mat-icon>notes</mat-icon>Registres dels proveïdors</a>
                    <a mat-list-item routerLink><mat-icon>clear_all</mat-icon>Registres dels proveïdors</a> -->
                  </mat-expansion-panel>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  