<mat-card class="mainCard">
  <mat-card-header>
    <div mat-card-avatar *ngIf="!mobileQueryTitle.matches"></div>
    <mat-card-title>Tots els registres</mat-card-title>
    <!-- <mat-card-actions align="end">
      <a mat-raised-button color="primary" [routerLink]="['/add-place']"><mat-icon>add</mat-icon> Afegir Ubicació</a>
    </mat-card-actions> -->
  </mat-card-header>
    <mat-divider class="space"></mat-divider>
  <mat-card-content >
  <mat-spinner class="centerM" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    
    
    <div class="container mat-elevation-z8">
      <div class="header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filtre">
        </mat-form-field>
        <mat-paginator style="display:inline-block" [pageSizeOptions]="[10,25,50,100]"></mat-paginator>
      </div>
    
    <div class="table-container">
      <mat-table class="table" [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.date | date: 'dd/MM/yyyy - HH:mm'}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.deviceName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="home">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ubicació </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.device.home.name}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estat </mat-header-cell>
          <mat-cell *matCellDef="let row"> <span [class]="(row.status)?'dot open':'dot close'"></span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipus </mat-header-cell>
          <mat-cell *matCellDef="let row" [innerHTML]="type[row.typeDevice]"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="real">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Real/Virtualitzat </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color"> {{(row.real)?'Real':'Virtualitzat'}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      </div>
    
    </div>
    </div>
  </mat-card-content>

</mat-card>






