<section class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Entrar/Registrar</mat-card-title>
      <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabNum" class="example-stretched-tabs">
        <mat-tab label="Entrar">
            <mat-card-content>
              <mat-spinner style="margin:0 auto;"  *ngIf="loading"></mat-spinner>
              <form *ngIf="!loading" [formGroup]="login" (submit)="onLogin()">
                <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    matInput
                    formControlName="email"
                    placeholder="exemple@gmail.com"
                    type="email">
                    <mat-error *ngIf="login.controls.email.errors?.['required']">Correu obligatori</mat-error>
                    <mat-error *ngIf="login.controls.email.errors">Correu incorrecte</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    formControlName="password"
                    placeholder="Password"
                    type="password">
                    <mat-error
                      *ngIf="login.controls.password.errors?.['required']">
                      contrasenya obligatoria
                    </mat-error>
                    <mat-error
                      *ngIf="login.controls.password.errors?.['minlength']">
                      Mínim 6 caràcters
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  [disabled]="!login.valid || loading">
                  Entrar
                </button>
  

              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Registrar">
          <mat-card-content>
            <mat-spinner style="margin:0 auto;"  *ngIf="loading"></mat-spinner>
            <form  *ngIf="!loading" [formGroup]="signup" (submit)="onSignup()">
              <mat-form-field>
                <mat-label>Nom</mat-label>
                <input
                  matInput
                  formControlName="username">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="signup.controls.username.errors?.['required']">
                  Nom obligatori
                </mat-error>
  
              </mat-form-field>
              <mat-form-field>
                <mat-label>email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="exemple@gmail.com">
                  <mat-error *ngIf="signup.controls.email.errors?.['required']">Correu obligatori</mat-error>
                  <mat-error *ngIf="signup.controls.email.errors">Correu incorrecte</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  placeholder="Password"
                  type="password">
                  <mat-error
                    *ngIf="signup.controls.password.errors?.['required']">
                    Contrasenya obligatoria
                  </mat-error>
                  <mat-error
                    *ngIf="signup.controls.password.errors?.['minlength']">
                    Mínim 6 caràcters
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>

              <mat-form-field>
                <mat-label>Password</mat-label>
                  <input
                  matInput
                  formControlName="confirmPassword"
                  placeholder="Password"
                  type="password"
                  [errorStateMatcher]="passwordMatcher">
                  <mat-error
                    *ngIf="signup.controls.password.errors?.['required']">
                      Contrasenya obligatoria
                    </mat-error>
                  <mat-error
                    *ngIf="signup.hasError('passwordMatcher')">
                      Contrasenyes no coincideixen
                    </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
                <button
                mat-raised-button
                color="primary"
                class="login-button"
                [disabled]="!signup.valid || loading">
                Registrar
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </section>
